---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const pageTitle = "Brandon Leong's Portfolio";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <link rel="icon" type="image/x-icon" href="./src/assets/logo.png">
  </head>
  <body>
    <Header />
    <!-- <div class = "cover" />  -->
    <div class = "title">Brandon Leong</div>
    <div class = "subtitle">Full-Stack Developer</div>
    <div class = "desc">I'm a developer currently studying at University of Washington Seattle.</div>
    <div class = "about">About Me</div>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>