---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const pageTitle = "Brandon Leong's Portfolio";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <link rel="icon" type="image/x-icon" href="/assets/logo.png">
  </head>
  <body>
    <Header />
    <section class = "cover">
      <div class = "title">Hi, I'm </div>
      <div class = "title" style = "color: rgb(167, 104, 231);">Brandon Leong</div>
      <div class = "title">.</div>
      <div class = "subtitle">
        I'm a Full Stack Developer currently studying at UW Seattle.
        <br>
        Check out my resume here:
      </div>
    </section>
    <!-- <div class = "desc">
      I'm a full stack developer currently studying at University of Washington Seattle.
      <br>
      Check out my resume here: 
    </div> -->
    <div class = "about" id = "about">
      About Me
      <p class = "aboutdesc">
        Hello, I'm am a Class of 2027 student at the University of Washington Seattle
        and a Software Engineer that's always eager to try new things and loves logic puzzles. 
        My current interests include video games like Minecraft, Skyrim, and Stardew Valley where
        coming up with new ideas means that I can mod them into the game myself. 
      </p>  
    </div>
    <div class = "skilltitle">
      Skills
    </div>
    <div class = "skills">
      <div class = "techicon">
        <img class = "techlogo" src ="/assets/python.png">
        <div class = "techtitle"> Python</div>
      </div>
      <div class = "techicon" style="background-color: white;">
        <img class = "techlogo" src ="/assets/java.png">
        <div class = "techtitle"> Java</div>
      </div>
      <div class = "techicon" style="background-color: white;">
        <img class = "techlogo" src ="/assets/html.png">
        <div class = "techtitle"> HTML</div>
      </div>
      <div class = "techicon" style="background-color: white;">
        <img class = "techlogo" src ="/assets/css.png">
        <div class = "techtitle"> CSS</div>
      </div>
      <div class = "techicon" style="background-color: white;">
        <img class = "techlogo" src ="/assets/java.png">
        <div class = "techtitle" style = "font-size: 1.1rem"> JavaScript</div>
      </div>
      <div class = "techicon" style="background-color: white;">
        <img class = "techlogo" src ="/assets/java.png">
        <div class = "techtitle"> Netlify</div>
      </div>
      <div class = "techicon" style="background-color: white;">
        <img class = "techlogo" src ="/assets/java.png">
        <div class = "techtitle"> Figma</div>
      </div>
      <div class = "techicon" style="background-color: white;">
        <img class = "techlogo" src ="/assets/java.png">
        <div class = "techtitle"> Astro</div>
      </div>
    </div>
    <script>
      import "../scripts/menu.js";
      import "../scripts/nav.js";
    </script>
  </body>
</html>