---
---
<div class="nav-links">
  <a href="/"><img class = "navlogo" src="src/assets/logo.png"></a>
  <div class="right">
    <a class = "navbarreroute hover-underline-animation " href="/">Home</a>
    <a class = "navbarreroute hover-underline-animation " href="/about">About</a>
    <a class = "navbarreroute hover-underline-animation " href="/projects">Projects</a>
    <a class = "navbarreroute hover-underline-animation " href="/contact">Contact</a>
  </div>
</div>